
/* My global CSS */
.content-page-wrapper {
    /* top - right - bottom - left */
    padding: 1% 1% 2% 230px;
}




.boxesGroup {
    /* main layout to display nested boxes */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    place-items: center;
    /* decorating */
    background-color: lightgrey;
    /* drag style */
    cursor: default;
  }
  
  .box {
    /* nested boxes */
    background-color:rgb(216, 176, 253);
    padding: 10px;
    height: 200px;
    width: 250px;
    /* decorating */
    border-radius: 10px;
    /* drag style */
    cursor: move;
  }
  
  .content {
    /* centering content in box */
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* decorating */
    font-weight: bold;
  }
  